@import "normalize.css/normalize.css";

/* Font definitions */
@import "site-fonts.css";

@import "syntax.css";

/* Enable box-sizing by default. */
*, *:before, *:after {
    box-sizing: border-box;
}

:root {
  --global--max-width: 1280px;

  --global--spacer-sm: .5rem;
  --global--spacer-md: 1rem;
  --global--spacer-lg: 2rem;
  --global--line-spacing: 1.414;

  --global--text--FontFamily: "Merriweather", serif;
  --global--headline--FontFamily: "Merriweather Sans", sans-serif;
}

@custom-media --medium-viewport (width >= 720px);
@custom-media --huge-viewport (width >= 1440px);

html {
    font-family: var(--global--text--FontFamily);
    line-height: var(--global--line-spacing);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--global--headline--FontFamily);
}

/* Set up CSS grid. */
.container {
    margin: calc(3*var(--global--spacer-md)) auto;
    padding: 0 var(--global--spacer-md);
    display: grid;
    grid-gap: var(--global--spacer-md);
    grid-template-columns: 100%;
}
@media (--medium-viewport) {
    .container {
        grid-template-columns: minmax(0.75vw, 3fr) 1fr;
        max-width: var(--global--max-width);
    }
}
@media (--huge-viewport) {
    .container {
        max-width: initial;
        box-decoration-break: clone;
    }
    .container main {
        column-width: 48ch;
        max-width: initial;
    }
}

footer {
    margin: 1rem auto;
    text-align: center;
}
blockquote {
    margin-left: 0;
    border-left: 1px solid #ccc;
    padding-left: calc(2 * var(--global--spacer-md));
}
pre, figure {
    overflow-x: auto;
}

/* Style header and footer. */
.header {
    position: absolute;
    top: 0;
    left: 0;
    height: 3rem;
    width: 100%;
    padding: 1rem;
    background: #343434;
    color: #fff;
    font-family: 'DejaVu Sans Mono', monospace;
    line-height: 1;
}
.header a, .header a:link, .header a:hover {
    text-decoration: none;
    color: inherit;
}

.headline a, .headline a:link {
    text-decoration: none;
    color: inherit;
}
.headline a:hover {
    text-decoration: underline;
}
.headline + .meta {
    margin-top: calc(-1 * var(--global--line-spacing) * 1rem);
    font-size: 0.8rem;
}
.body {
    margin-top: var(--global--spacer-md);
}

.article-list ol {
    list-style-type: square;
}

.pagination {
    text-align: center;
}
.pagination .current {
    font-weight: bold;
}
