@import "normalize.css/normalize.css";

/* Font definitions */
@import "fonts.css";
@import "syntax.css";

/* Enable box-sizing by default. */
*, *:before, *:after {
    box-sizing: border-box;
}

:root {
  --global--max-width: 1280px;

  --global--spacer-sm: .5rem;
  --global--spacer-md: 1rem;
  --global--spacer-lg: 2rem;

  --global--text--FontFamily: Roboto, sans-serif;
  --global--headline--FontFamily: Rubik, sans-serif;
}

@custom-media --medium-viewport (width >= 720px);
@custom-media --huge-viewport (width >= 1440px);

html {
    font-family: var(--global--text--FontFamily);
    line-height: 1.8;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--global--headline--FontFamily);
    font-weight: 500;
    line-height: 1.2;
}
h1 {
        font-size: 3em;
        font-weight: 300;
        margin-top: 0.53em;
        margin-bottom: 0.53em;
}
h2 {
        font-size: 2.5em;
        font-weight: 300;
        margin-top: 0.4em;
        margin-bottom: 0.4em;
}
h3 {
        font-size: 2.25em;
        font-weight: 500;
        margin-top: 0.4em;
        margin-bottom: 0.4em;
}
h4 {
        font-size: 1.5em;
        font-weight: 500;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
}
h5 {
        font-size: 1.06em;
        font-weight: 500;
        margin-top: 0.94em;
        margin-bottom: 0.94em;
}
h6 {
        font-size: 1em;
        font-weight: 500;
        margin-top: 1em;
        margin-bottom: 1em;
}

/* Set up CSS grid. */
.container {
    margin: calc(3*var(--global--spacer-md)) auto;
    padding: 0 var(--global--spacer-md);
    display: grid;
    grid-gap: var(--global--spacer-lg);
    grid-template-columns: 100%;
}
@media (--medium-viewport) {
    h1 {
            font-size: 5.06em;
            font-weight: 300;
            margin-top: 0.53em;
            margin-bottom: 0.53em;
    }
    h2 {
            font-size: 3.33em;
            font-weight: 300;
            margin-top: 0.4em;
            margin-bottom: 0.4em;
    }
    .container {
        grid-template-columns: minmax(0.75vw, 3fr) 1fr;
        max-width: var(--global--max-width);
    }
}
@media (--huge-viewport) {
    .container {
        max-width: initial;
        box-decoration-break: clone;
    }
    .container main {
        column-width: 48ch;
        max-width: initial;
    }
}

.footer {
    margin: 1rem auto;
    text-align: center;
}

blockquote {
    margin-left: 0;
    border-left: 1px solid #ccc;
    padding-left: 2em;
}
pre, figure {
    overflow-x: auto;
}
code {
    background: #eee;
    font-family: 'DejaVu Sans Mono', monospace;
}
pre code {
    background: inherit;
}

/* Style header and footer. */
.header {
    position: absolute;
    top: 0;
    left: 0;
    height: 3rem;
    width: 100%;
    padding: 1rem;
    background: #343434;
    color: #fff;
    font-family: 'DejaVu Sans Mono', monospace;
    line-height: 1;
}
.header__homelink, .header__homelink:link, .header__homelink:hover {
    text-decoration: none;
    color: inherit;
}

.headline {
    margin-bottom: 0;
}
.headline__link, .headline__link:link {
    text-decoration: none;
    color: inherit;
}
.headline__link:hover {
    text-decoration: underline;
}

.sidebar {
    margin-top: var(--global--spacer-lg);
}
.sidebar .headline {
    font-size: 1.67em;
}

.meta {
    text-align: right;
    line-height: 1.2;
    font-size: 0.8em;
}
.body {
    margin-top: var(--global--spacer-md);
}

.article-list {
    list-style-type: square;
}

.pagination {
    text-align: center;
}
.pagination .current {
    font-weight: bold;
}
