{{ $dateMissing := eq .Date.Year 1 -}}
<li class="h-entry" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <p class="p-name" itemprop="headline">
  <a class="u-url" itemprop="url" href="{{ .RelPermalink }}">{{ .Title }}{{ if .Draft }} (Draft){{ end }}</a>
{{ if eq $dateMissing false }}
  <span class="meta">(<time class="dt-published" itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>)</span>
{{ end }}
  </p>
  <blockquote class="summary p-summary">
    {{ .Summary }}{{ if .Truncated }}&nbsp;…&nbsp;<a href="{{ .RelPermalink }}">(read more)</a>{{ end }}
  </blockquote>
</li>
