{{ $dateMissing := eq .Date.Year 1 -}}
<article class="single h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 class="headline p-name" itemprop="headline"><a class="u-url" itemprop="url" href="{{ .RelPermalink }}">{{ .Title }}{{ if .Draft }} (Draft){{ end }}</a></h1>
  <div class="meta">
{{ if eq $dateMissing false }}
    <span class="key">published on</span>
    <span class="val"><time class="dt-published" itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></span>
{{ end -}}
{{ with .Params.categories }}{{ $count := len . }}
    <span class="key">{{ if eq $dateMissing true }}published {{ end }}in</span>
    <span class="val">
{{ range $index, $value := . }}
        <a class="p-category" href="{{ "/" | relLangURL }}categories/{{ . | urlize }}.html">{{ . }}</a>{{ if ne (add $index 1) $count }},{{ end }}
{{ end }}
    </span>
{{ end }}
{{ with .Params.tags }}{{ $count := len . }}
    <br>
    <span class="key">tags:</span>
    <span class="val">
{{ range $index, $value := . }}
        <a class="p-category" href="{{ "/" | relLangURL }}tags/{{ . | urlize }}.html">{{ . }}</a>{{ if ne (add $index 1) $count }},{{ end }}
{{ end }}
    </span>
{{ end }}
  </div>
  <div class="body e-content" itemprop="articleBody">
    {{ .Content }}
  </div>
</article>
