{{ partial "header.html" . }}
<main role="main" class="h-feed" itemscope itemtype="http://schema.org/Blog">
  {{ $collective_phrase := index .Site.Params.collectivephrases .Data.Singular | default "marked as" -}}
  <h1 class="list-title p-name">Posts {{ $collective_phrase }} <samp>{{ .Name }}</samp></h1>

  <div class="article-list">
      <ol>
      {{ $pag := .Paginate .Data.Pages }}
      {{ range $pag.Pages }}
      {{ partial "post-list-item.html" . }}
      {{ end }}
      </ol>
      {{ partial "pagination.html" . }}
  </div>
</main>
{{ partial "footer.html" . }}
